<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PINT Template Library</title>
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
  form[name=clone-validator] div.row{
    margin: 30px 0;

  }
</style> 
</head>
<body ng-app="pintTemplateLibrary" ng-controller="strategyTemplate">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <h3 class="navbar-text">PINT Template Library</h3>
        <div ng-model="user" ng-show="user" class="navbar-text navbar-left">{{ user.email }}</div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Choose a strategy template to created clone strategies. Once the cloned strategies have been edited and validated you can submit them.
      </div>
    </div>
  </div>
  <div class="container">
    <form action="POST" name="clone-validator" class="form-inline col-sm-12" novalidate  autocomplete="off">
      <div class="row">
      
      <div class="form-group">1.</div>
        
         <div class="form-group">
          <label class="sr-only" for="strategy-name">Strategy Name</label>
          <input type="text" ng-model="clone.strategyName1" name="strategy-name1" class="form-control" id="clone.strategy-name" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <input type="text" ng-model="clone.geoSelected1" placeholder="Geo ID" name="geo1"
        typeahead-min-length="3"
        uib-typeahead="geo as geo.displayName for geo in getLocation($viewValue)"
        typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
        
        <div class="form-group">
          <label class="sr-only" for="concepts">Pixel Target ID</label>
          <input type="text" ng-model="clone.pixel_target_id1" name="pixel_target_id1" class="form-control" id="clone.pixel_target_id" placeholder="Pixel Target ID" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="budget">Budget</label>
          <input type="text" ng-model="clone.budget1" name="budget1" class="form-control" id="clone.budget" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="impression_cap">Impression Cap</label>
          <input type="text" ng-model="clone.im" name="impression_cap1" class="form-control" id="clone.impress-cap" placeholder="Impression Cap" required="required" ng-maxlength="64">
        </div>

      </div>

      <div class="row">
        <div class="form-group">2.</div>

         <div class="form-group">
          <label class="sr-only" for="strategy-name">Strategy Name</label>
          <input type="text" ng-model="clone.strategyName2" name="strategy-name2" class="form-control" id="clone.strategy-name" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <input type="text" ng-model="clone.geoSelected2" placeholder="Geo ID" name="geo2"
        typeahead-min-length="3"
        uib-typeahead="geo as geo.displayName for geo in getLocation($viewValue)"
        typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
        
        <div class="form-group">
          <label class="sr-only" for="concepts">Pixel Target ID</label>
          <input type="text" ng-model="clone.pixel_target_id2" name="pixel_target_id2" class="form-control" id="clone.pixel_target_id" placeholder="Pixel Target ID" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="budget">Budget</label>
          <input type="text" ng-model="clone.budget2" name="budget" class="form-control" id="clone.budget" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="impression_cap">Impression Cap</label>
          <input type="text" ng-model="clone.impressionCap2" name="impression_cap2" class="form-control" id="clone.impress-cap" placeholder="Impression Cap" required="required" ng-maxlength="64">
        </div>

      </div>
      <div class="row">
        <div class="form-group">3.</div>
        <div class="form-group">
          <label class="sr-only" for="strategy-name">Strategy Name</label>
          <input type="text" ng-model="clone.strategyName3" name="strategy-name" class="form-control" id="clone.strategy-name" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <input type="text" ng-model="clone.geoSelected3" placeholder="Geo ID" name="geo3"
        typeahead-min-length="3"
        uib-typeahead="geo as geo.displayName for geo in getLocation($viewValue)"
        typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
        
        <div class="form-group">
          <label class="sr-only" for="concepts">Pixel Target ID</label>
          <input type="text" ng-model="clone.pixel_target_id3" name="pixel_target_id3" class="form-control" id="clone.pixel_target_id" placeholder="Pixel Target ID" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="budget">Budget</label>
          <input type="text" ng-model="clone.budget3" name="budget" class="form-control" id="clone.budget" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="impression_cap">Impression Cap</label>
          <input type="text" ng-model="clone.impressionCap3" name="impression_cap3" class="form-control" id="clone.impress-cap" placeholder="Impression Cap" required="required" ng-maxlength="64">
        </div>

      </div>
      <div class="row">
        <div class="form-group">4.</div>
         <div class="form-group">
          <label class="sr-only" for="strategy-name">Strategy Name</label>
          <input type="text" ng-model="clone.strategyName4" name="strategy-name" class="form-control" id="clone.strategy-name" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <input type="text" ng-model="clone.geoSelected4" placeholder="Geo ID" name="geo4"
        typeahead-min-length="3"
        uib-typeahead="geo as geo.displayName for geo in getLocation($viewValue)"
        typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
        
        <div class="form-group">
          <label class="sr-only" for="concepts">Pixel Target ID</label>
          <input type="text" ng-model="clone.pixel_target_id4" name="pixel_target_id4" class="form-control" id="clone.pixel_target_id" placeholder="Pixel Target ID" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="budget">Budget</label>
          <input type="text" ng-model="clone.budget4" name="budget" class="form-control" id="clone.budget" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="impression_cap">Impression Cap</label>
          <input type="text" ng-model="clone.impressionCap4" name="impression_cap4" class="form-control" id="clone.impress-cap" placeholder="Impression Cap" required="required" ng-maxlength="64">
        </div>

      </div>
      <div class="row">
        <div class="form-group">5.</div>
        <div class="form-group">
          <label class="sr-only" for="strategy-name">Strategy Name</label>
          <input type="text" ng-model="clone.strategyName5" name="strategy-name5" class="form-control" id="clone.strategy-name" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <input type="text" ng-model="clone.geoSelected5" placeholder="Geo ID" name="geo5"
                typeahead-min-length="3"
                uib-typeahead="geo as geo.displayName for geo in getLocation($viewValue)"
                typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
          </div>

        <div class="form-group">
          <label class="sr-only" for="concepts">Pixel Target ID</label>
          <input type="text" ng-model="clone.pixel_target_id5" name="pixel_target_id5" class="form-control" id="clone.pixel_target_id" placeholder="Pixel Target ID" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="budget">Budget</label>
          <input type="text" ng-model="clone.budget5" name="budget5" class="form-control" id="clone.budget" placeholder="Strategy Name" required="required" ng-maxlength="64">
        </div>

        <div class="form-group">
          <label class="sr-only" for="impression_cap">Impression Cap</label>
          <input type="text" ng-model="clone.impressionCap5" name="impression_cap5" class="form-control" id="clone.impress-cap" placeholder="Impression Cap" required="required" ng-maxlength="64">
        </div>

      </div>
  <button type="submit" class="btn btn-default">Submit</button>

    </form>
  </div>

  <!-- 
  https://developer.mediamath.com/docs/read/execution_and_management_api/Strategies
  https://mediamath.app.box.com/notes/56404229598?s=gzsuyt2rw1gy096adh27ohqt1mi29v0p
  https://pi-qa.mediamath.com/tools/bulk_strategy_editor/#/ for some 
  -->
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-touch/angular-touch.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- <script src="node_modules/firebase/lib/firebase-web.js"></script> -->
  <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>  
  <script type="text/javascript">

    var app = angular.module('pintTemplateLibrary', ['firebase', 'ui.bootstrap'])
    .controller('strategyTemplate', function($scope, $http, $firebaseObject) {

      var ref = new Firebase("https://strategytemplates.firebaseio.com/1");
      // download the data into a local object
      var t1endpoint = 'https://t1qa1.mediamath.com/api/v2.0/';

      /*
       ok here's the session nonsense to skip a log in screen.
       Log into t1qa1.mediamath.com and open this project under SOMETHING.mediamath.com (the hosts
       file hack we all use).

       Serve this project. I just use `serve`. (npm install -g serve, https://www.npmjs.com/package/serve) 

       Open the url to this served project: it will be SOMETHING.mediamath.com:3000

       The cookie you got by logging into t1qa1 will be in your browser and will be sent to adama
       because of the magic header `withCredentials: true`.
       */
      
      var session = $http.get('https://t1qa1.mediamath.com/api/v2.0/session', { withCredentials: true})
      .then(function(response){
        console.info(response);
        // hey leif
        // cookie = response.data.session.sessionid
      });

      $scope.clone = {};

      $scope.getLocation = function(val) {
        console.info('getlocation', val)
        return $http({
          method: 'get',
          url: t1endpoint + 'target_values?dimension=REGN&sort_by=name',
          params: {
            order_by: 'descending',
            page_limit: '20',
            q: 'name=:' + val + '*'
          },
          withCredentials: true
        }).then(function(response){
          
          if (response.status !== 200){
            $scope.errorMessage = 'No targets found. Please try again later.';
            $scope.showErrorMessage = true;
            $timeout(function(){
              $scope.showErrorMessage = null;
            }, 10000);
          } else {
            console.info(res)
            var res = response.data.entities.entity;
            if(res.length === 0){
              //skip displaying the error message for IDs, since they are not auto suggested.
              if(queryTerm[0] != '#'){
                $scope.errorMessage = 'No targets found. Please try again later.';
                $scope.showErrorMessage = true;
              }
            } else{
              var targets = [];
              angular.forEach(res, function(item) {
                var obj = {
                  'id': item.id,
                  'name': item.name,
                  'displayName': item.name + ' - ' + item.id
                };
                targets.push(obj);
              });
              return targets;
            }
          }
        });
      };
    });
  </script>
</body>
</html>

